body {
    border: solid 2px;
    margin: 30px 132px;
}

h1 {
    text-align: center;
}

#titulo {
    color: black;
}

main {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    width: 990px;
}

#img2 {
    margin-top: 20px;
    width: 710px;
}

footer {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}